.modal-login,
.modal-register {
  border-radius: 25px;
}

.box,
.register {
  font-family: sans-serif;
  text-align: center;
}

.box h1,
.register h1 {
  font-weight: 450;
}

.box input[type="text"],
.box input[type="password"],
.register input[type="email"],
.register input[type="text"],
.register input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #696969;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

.register input[type="email"],
.register input[type="text"],
.register input[type="password"] {
  height: 40px;
}



.box input[type="text"]:focus,
.box input[type="password"]:focus,
.register input[type="email"]:focus,
.register input[type="text"]:focus,
.register input[type="password"]:focus {
  width: 250px;
  border-color: 	rgb(179, 178, 150);
}

.box input[type="submit"],
.register input[type="submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid		rgb(0, 207, 190);
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover,
.register input[type="submit"]:hover {
  background: 				rgba(105, 255, 243, 0.582);
}

.caption-text {
  font-size: 25px;
  color: black;
}

.register select[type="select"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  border-bottom: 2px solid #696969;
  padding: 0px 10px 0px 20px;
  width: 120px;
  outline: none;
  transition: 0.25s;
  height: 30px;
}

